html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

nav div img {
    width: 55px;
    border-radius: 50%;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 8px 0;
    transition: all;
    transition-duration: 250ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    border-bottom: 1px solid black;
}

.menu-icon {
    font-size: 25px;
    display: none;
}

main {
    padding-top: 5rem;
}

@media screen and (max-width : 768px){
    nav{
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li:last-of-type {
        padding-bottom: 8px;
    }
    
    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        background-color: blue;
    }
}
